<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Character List</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/rpg.css}"/>

</head>
<body>
	<h1>Rpg Manager</h1>
	<table>
		<tbody>
		
		
		<div>
		<h3 th:inline="text">Welcome to the character list [[${#httpServletRequest.remoteUser}]]</h3>
		<p>Click on a name to view more information</p>
	</div>
	<div>
		
	</div>
		
		
		<tr>
		<td>Name</td>
		<td>Class</td>
		<td>Race</td>
		<td>Description</td>
		<td>Group</td>
		
		<td></td>
		<td></td>
		</tr>
		
			<tr th:each="character : ${characters}">
				<td> <a th:href="@{/charactersheet/{id}(id=${character.id})}"> <div th:text="${character.name}"> </div></a></td>
				<td th:text="${character.charclass}"></td>
				<td th:text="${character.race}"></td>
				<td th:text="${character.description}"></td>
				<td th:text="${character.group.groupName}"></td>
				
				<td td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${character.id})}">Delete</a></td>
				<td td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${character.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	</br>
	<div td sec:authorize="hasAuthority('ADMIN')"><a href="/add">Add character</a></div>
	<div td sec:authorize="hasAuthority('ADMIN')"><a href="/playerlist">Edit players and their settings</a></div>
	<div td sec:authorize="hasAuthority('USER')"><a href="/useradd">Create your own character for admin approval</a></div>
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	
	
</body>

</html>

