<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>List of books</h1>
	<table>
		<tbody>
		
		
		<div>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
		
		
		<tr>
		<td>Name</td>
		<td>Class</td>
		<td>Race</td>
		<td>Description</td>
		
		<td></td>
		</tr>
		
			<tr th:each="character : ${characters}">
				<td th:text="${character.name}"></td>
				<td th:text="${character.charclass}"></td>
				<td th:text="${character.race}"></td>
				<td th:text="${character.description}"></td>
				
				<td td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${character.id})}">Delete</a></td>
				<td td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${character.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<div sec:authorize="hasAuthority('ADMIN')"><a href="/add">Add character</a></div>
	<div           ><a href="@{/edit/{id}(id=${character.id})}">Create character</a></div>
</body>

</html>

